<div class="wrapper">
    <label for="password">Введите пароль:</label>
    <input type="password" id="password" [(ngModel)]="password" (input)="checkPassword()" />
    <p>Надежность пароля:</p>
    <div
        [ngClass]="{'empty': isEmpty, 'unavialable': isUnavialable, 'weak': isWeak, 'medium': isMedium, 'strong': isStrong }">
        <div class="strength-indicator one"></div>
        <div class="strength-indicator two"></div>
        <div class="strength-indicator three"></div>
    </div>
</div>