.wrapper {
  margin: 20px;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  font-weight: bold;
}

.strength-indicator {
  width: 50px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #9a9a9a;
}

.unavialable {
  .one {
    background-color: #ff3333;
  }
  .two {
    background-color: #ff3333;
  }
  .three {
    background-color: #ff3333;
  }
}

.weak {
  .one {
    background-color: #ff3333;
  }
  .two {
    background-color: #9a9a9a;
  }
  .three {
    background-color: #9a9a9a;
  }
}

.medium {
  .one {
    background-color: #ff9900;
  }
  .two {
    background-color: #ff9900;
  }
  .three {
    background-color: #9a9a9a;
  }
}

.strong {
  .one {
    background-color: #33cc33;
  }
  .two {
    background-color: #33cc33;
  }
  .three {
    background-color: #33cc33;
  }
}

.empty {
  .one {
    background-color: #9a9a9a;
  }
  .two {
    background-color: #9a9a9a;
  }
  .three {
    background-color: #9a9a9a;
  }
}